:root {
    --button: #C8D5B9;
    --success: #4A7C59;
    --background: #8FC0A9;
    --border: #68B0AB;
    --warn: #FAF3DD;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  
body {
    width: 100vh;
    height: 100vh;
    text-align: center;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 400px;
    background-color: #e9e5e5;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

#welcome-screen {
    margin: 100px 0px;
    font-family: 'Bitter', serif;
    font-weight: 500;
}

input  {
    padding: 20px;
    margin: 30px;
    border: solid 4px var(--border);
}

input:hover {
    background-color: #d2dde7;
    cursor: pointer;
}

 p {
    padding: 20px;
    font-size: 25px;
}

#welcome-icon {
    width: 100vh;
    max-width: 100px;
}

#welcome-image {
    padding: 20px;
    width: 200vh;
    max-width: 200px;
    text-align: center;
    --animate-repeat: 2;
}

#main-screen {
    display: none;
}

header {
    border: solid 10px #3C6E71;
    border-radius: 5px;
    margin: auto;
    max-width: 1000px;
    max-height: 1000px;
}

#nametag {
    font-size: 50px;
    padding: 30px;
}



.top-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    padding: 10px 50px;
}

#age {
    border: solid 5px #3C6E71;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    font-size: 40px;
}

ul {
    list-style-type: none;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    padding: 20px;
    margin: 20px 40px;
    border: solid 5px #3C6E71;
    border-radius: 3px;
    max-width: 50vw;
    max-height: 50vh;
    font-size: 25px;
}

#win {
    display: none;
    font-size: 50px;
    padding: 20px;
}

#lose {
    display: none;
    font-size: 50px;
    padding: 20px;
}

main {
    padding: 50px;
    margin: 40px 20px;
}

div .plant-image {
    width: 80vh;
    max-width: 900px;
}

button {
    border: solid 4px var(--border);
    padding: 10px;
    margin: 20px;
    cursor: pointer;
    border-radius: 3px;
}

button:hover {
    background-color: var(--button);

}

button:active {
  background-color: var(--button);
  box-shadow: 0 5px var(--border);
  transform: translateY(4px);
}


#plant-one, #plant-two, #plant-three, #plant-four {
    width: 250px;
    height: 250px;
}

#plant-two, #plant-three, #plant-four {
    display: none;
    --animate-duration: 30s;
}

#reset-icon {
    width: 100vh;
    max-width: 70px;
}

#water-button, #light-button {
    padding: 10px;
    margin: 20px 40px;
}

.icon-images  {
    width: 100vh;
    max-width: 100px;
}


@media only screen and (min-device-width: 480px){

}