:root {
    --button: #C8D5B9;
    --success: #4A7C59;
    --background: #8FC0A9;
    --border: #68B0AB;
    --warn: #FAF3DD;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


body {
    width: 100vh;
    height: 100vh;
    text-align: center;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    background-color: var(--background);
}


#welcome-screen {
    margin: 100px 0px;
}

input  {
    padding: 20px;
    margin: 30px;
    border: solid 4px var(--border);
}

input:hover {
    background-color: rgb(244, 240, 240);
    cursor: pointer;
}

 p {
    padding: 20px;
    font-size: 25px;
}

#welcome-icon {
    width: 100vh;
    max-width: 100px;
}

#welcome-image {
    width: 200vh;
    max-width: 200px;
    text-align: center;
}

#main-screen {
    display: none;
}

header {
    border: solid 10px var(--success);
    margin: auto;
    max-width: 1000px;
    max-height: 1000px;

}

.top-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    padding: 10px 50px;
}

#age {
    border: solid 4px var(--border);
    padding: 10px;
    margin: 10px;
}

ul {
    list-style-type: none;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    padding: 20px;
    margin: 5px 20px;
    border: solid 4px var(--border);
    min-width: 5vh;
    min-height: 5vh;
}


#win {
    display: none;
    font-size: 50px;
    padding: 20px;
}

#lose {
    display: none;
    font-size: 50px;
    padding: 20px;
}

main {
    padding: 50px;
    margin: 40px 20px;
}

div .plant-image {
    width: 80vh;
    max-width: 900px;
}

button {
    border: solid 4px var(--border);
    padding: 10px;
    margin: 20px;
    cursor: pointer;
}

button:hover {
    background-color: var(--button);

}

button:active {
  background-color: var(--success);
  box-shadow: 0 5px var(--button);
  transform: translateY(4px);
}

#plant {
    width: 200px;
    height: 200px;
}

#reset-icon {
    width: 50vh;
    max-width: 50px;
}

.icon-images  {
    width: 80vh;
    max-width: 100px;
}




